<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style type="text/css">
      h1 {
          color: #ff0000;
          font-weight: 300;
          font-size: 80px;
          text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                      0px 8px 13px rgba(0,0,0,0.1),
                      0px 18px 23px rgba(0,0,0,0.1);
        }
    </style>

	  <title>Chandan Tutorial</title>
	
  </head>
<body>
      
  <nav class="navbar navbar-expand-lg navbar-light fixed-top n" style="background-color: #ccccff;">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/images/image.png" class="logo">
      </a> 
      <div class="btn-wrapper d-lg-none ml-auto mr-3">
        <a class="btn btn-outline-primary btn-sm btn-style" href="/signin"><i class="fas fa-user"></i> Sign in</a>
        <a class="btn btn-outline-primary btn-sm btn-style" href="/signup"><i class="fas fa-user-plus"></i> Sign up</a>
      </div>
      <div class="a-wrap d-none d-lg-block">
        <div class="nav-item-wrapper mr-3">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="px-3 btn-primary btn btn-transparent-nav" href="/home">Home<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="px-3 btn-primary btn btn-transparent-nav" href="/about">About Us<span class="sr-only"></span></a>
            </li>
            <li class="nav-item"><a class="px-3 btn-primary btn btn-transparent-nav" href="/contact">Contact Us</a></li>
            <li class="nav-item"><a class="px-3 btn-primary btn btn-transparent-nav" href="/image">Image Gallary</a></li>
            <li class="nav-item">
              <a class="btn btn-outline-primary btn-sm btn-style" href="/signin"><i class="fas fa-user"></i> Sign in</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-primary btn-sm btn-style" href="/signup"><i class="fas fa-user-plus"></i> Sign up</a>
            </li> 
          </ul>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto p-1">
          <a class="btn-primary btn btn-transparent-nav d-lg-none" href="/home">Home<span class="sr-only"></span></a>
          <a class="btn-primary btn btn-transparent-nav d-lg-none" href="/about">About Us<span class="sr-only"></span></a>
          <a class="btn-primary btn btn-transparent-nav d-lg-none" href="/contact">Contact Us</a>
          <a class="btn-primary btn btn-transparent-nav d-lg-none" href="/image">Image Gallary</a>
        </ul>
      </div>
    </div>
    </nav>

    <div class="container" style=" margin-top: 100px ">     
      <div class="container" style="text-align: center;"> 
          <h1 class="cover-heading" style="color: #ff9900;text-shadow: 0px 4px 3px rgba(0,0,0,0.4),0px 8px 13px rgba(0,0,0,0.1),0px 18px 23px rgba(0,0,0,0.1);"><b>ABOUT US</b></h1>
      </div>
      <hr>

      <div class="mb-2">
        Chandan tutorials is a Bhubaneshwar based start up that provided quality tutors to students of all classes from std-I to std-XII. The organization has finest of support team that handles student-teacher relationships. 
        The organization believes in quality education so it hires best teachers who can be perfect assets to be a private tutor. These days parents are not much interested in giving joint classes and want their child(ren) to
        be taught individually so that  the teacher could give entire focus on one student and the  student gets benefited to the fullest. The student after successful registration and verification, recieves a list of teachers
        and is supposed to choose one. 
        <hr style="opacity: 0.01">
        <h4><u>Generation of the teacher list:</u></h4>
        <div>
          The list of teachers presented to the student uponn registration are chosen based on the proximity of the teachers residence from the student's. The student can choose any tutor from the list, however if he/she wants
          change the tutor then at end of a term(full month of teaching) is allowed to do so. Also the student can choose any tutor apaart from the list if he/she wants.
        </div>
      </div>
      <hr style="opacity: 0.01">
      <div>To see details of terms and condition and the fee structure <a href="/terms">click here</a></div>
      <hr style="opacity: 0.01">
      <div class="container" style="text-align: center;">
        <h3>For More Details</h3>
        <p class="lead">
          <a href="contact.html" class="btn btn-lg btn-secondary">Contact Us</a>
        </p>
      </div>

    </div>

  
    <footer class="mainfooter" role="contentinfo">
      <div class="footer-middle">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-3 col-sm-6 ">      
            <div class="footer-pad">
              <h4><a href = "/terms">Terms And Conditions</a></h4>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">      
            <div class="footer-pad">
              <h4><a href = "/privacy">Privacy Policy</a></h4>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">    
            <div class="footer-pad">
              <h4><a href = "/faq">FAQs</a></h4>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">    
            <div class="footer-pad">
              <h4><a href = "/contact">Contact Us</a></h4>
            </div>
          </div>     
        </div>
        <hr>
        <div class="container">
          <div class="col-md-12 col-sm-4">
            <h4 class="text-center">Follow Us</h4>
                <div class="container text-center">
                  <ul class="social-network social-circle">
                 <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                 <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#" class="iconTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" class="iconInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                </ul>     
            </div>  
        </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12 sm">
            <p class="text-center">Designed and built with love by<a href="/team" class="sm">Our team</a></p>
          </div>
        </div>
      <div class="row">
        <div class="col-md-12 copy">
          <p class="text-center">&copy; 2020 ChandanTutorials™ | India</p>
        </div>
      </div>
      </div>
      </div>
    </footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>