<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	  <style type="text/css">
		  h1 {
	        color: #ff0000;
	        font-weight: 300;
	        font-size: 80px;
	        text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	                     0px 8px 13px rgba(0,0,0,0.1),
	                     0px 18px 23px rgba(0,0,0,0.1);
	    }
	  </style>

	  <title>Chandan Tutorial</title>
	
  </head>
  <body>
			
  <nav class="navbar navbar-expand-lg navbar-light fixed-top n" style="background-color: #ccccff;">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/images/image.png" class="logo">
      </a> 
      <div class="btn-wrapper d-lg-none ml-auto mr-3">
        <a class="btn btn-outline-primary btn-sm btn-style" href="/signin"><i class="fas fa-user"></i> Sign in</a>
        <a class="btn btn-outline-primary btn-sm btn-style" href="/signup"><i class="fas fa-user-plus"></i> Sign up</a>
      </div>
      <div class="a-wrap d-none d-lg-block">
        <div class="nav-item-wrapper mr-3">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="px-3 btn-primary btn btn-transparent-nav" href="/home">Home<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="px-3 btn-primary btn btn-transparent-nav" href="/about">About Us<span class="sr-only"></span></a>
            </li>
            <li class="nav-item"><a class="px-3 btn-primary btn btn-transparent-nav" href="/contact">Contact Us</a></li>
            <li class="nav-item"><a class="px-3 btn-primary btn btn-transparent-nav" href="/image">Image Gallary</a></li>
            <li class="nav-item">
              <a class="btn btn-outline-primary btn-sm btn-style" href="/signin"><i class="fas fa-user"></i> Sign in</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-primary btn-sm btn-style" href="/signup"><i class="fas fa-user-plus"></i> Sign up</a>
            </li> 
          </ul>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto p-1">
          <a class="btn-primary btn btn-transparent-nav d-lg-none" href="/home">Home<span class="sr-only"></span></a>
          <a class="btn-primary btn btn-transparent-nav d-lg-none" href="/about">About Us<span class="sr-only"></span></a>
          <a class="btn-primary btn btn-transparent-nav d-lg-none" href="/contact">Contact Us</a>
          <a class="btn-primary btn btn-transparent-nav d-lg-none" href="/image">Image Gallary</a>
        </ul>
      </div>
    </div>
    </nav>

	<div class="container"  style="text-align: center; margin-top: 120px ">
		<main role="main" class="inner cover">
			
		    <h1 class="cover-heading">Chandan Tutorial</h1>
		    <p class="lead"> The goal of education is not to increase the amount of knowledge but to create the possibilities for a child to invent and discover, to create men who are capable of doing new things.</p>
		    <hr>
		    <p>Want to join with us</p>
		    <p class="lead">
		      	<a href="signup.html" class="btn btn-lg btn-secondary">Sign Up</a>
		    </p>
		    <p class="card-text"><small class="text-muted" style="font-size: 20px">Already have an account ? <a href="signin.html" style="color: #ff0066"><b>Sign In</b></a></small></p>
		    <hr>
		    <p>Teacher or Student</p>
		    <p>We are providing teaching to students of all classes and also hiring techers to teach students.</p>
		    <p class="lead">For more details see About Us on the website</p>
		    <p class="lead">
		      	<a href="about.html" class="btn btn-lg btn-secondary">Click Here</a>
		    </p>
		    <hr>
		</main>
		<h2 style="margin-top: 40px;text-decoration: underline;color: #660033;">Some of our faculties</h2>
		<div class="card-deck" style="margin-top: 20px">
		  <div class="card">
		    <img src="https://ak.picdn.net/shutterstock/videos/4588583/thumb/1.jpg" class="card-img-top" >
		    <div class="card-body">
		      <h5 class="card-title">Name</h5>
		      <p class="card-text">Founder of the institution</p>
		      <a href="about.html" class="btn btn-primary">Know More</a>
		      <p class="card-text"><small class="text-muted">Computer Science Engineer</small></p>
		    </div>
		  </div>
		  <div class="card">
		    <img src="https://quantumcristal.com/wp-content/uploads/2018/12/Online-Law-Tuition.jpg" class="card-img-top">
		    <div class="card-body">
		      <h5 class="card-title">Name</h5>
		      <p class="card-text">Best among all</p>
		      <a href="about.html" class="btn btn-primary">Know More</a>
		      <p class="card-text"><small class="text-muted">Electrical Engineer</small></p>
		    </div>
		  </div>
		  <div class="card">
		    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQf57tp2IGYU_sMmfclLxQSyeTdyv8knwlPdzRDqxEdUKwkKXkH&usqp=CAU" class="card-img-top">
		    <div class="card-body">
		      <h5 class="card-title">Name</h5>
		      <p class="card-text">Excellent in his work.</p>
		      <a href="about.html" class="btn btn-primary">Know More</a>
		      <p class="card-text"><small class="text-muted">Computer Science Engineer</small></p>
		    </div>
		  </div>
		</div>
		
		<div class="card" style="text-align: left; margin-top: 40px">
		  <div class="card-body">
		    <blockquote class="blockquote mb-0">
		      <p>An investment in knowledge pays the best interest.</p>
		      <p class="blockquote-footer">By <cite title="Source Title">Benjamin Franklin</cite></p>
		    </blockquote>
		  </div>
		</div>
		
	</div>
	
  <footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-3 col-sm-6 ">      
          <div class="footer-pad">
            <h4><a href = "/terms">Terms And Conditions</a></h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">      
          <div class="footer-pad">
            <h4><a href = "/privacy">Privacy Policy</a></h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">    
          <div class="footer-pad">
            <h4><a href = "/faq">FAQs</a></h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">    
          <div class="footer-pad">
            <h4><a href = "/contact">Contact Us</a></h4>
          </div>
        </div>     
      </div>
      <hr>
      <div class="container">
        <div class="col-md-12 col-sm-4">
          <h4 class="text-center">Follow Us</h4>
              <div class="container text-center">
                <ul class="social-network social-circle">
               <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#" class="iconTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="iconInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
              </ul>     
          </div>  
      </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12 sm">
          <p class="text-center">Designed and built with love by<a href="/team" class="sm">Our team</a></p>
        </div>
      </div>
    <div class="row">
      <div class="col-md-12 copy">
        <p class="text-center">&copy; 2020 ChandanTutorials™ | India</p>
      </div>
    </div>
    </div>
    </div>
  </footer>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>

	