<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Chandan Tutorial</title>
  
</head>
<body>
      
<nav class="navbar navbar-expand-lg navbar-light fixed-top n" style="background-color: #ccccff;">
<div class="container">
  <a class="navbar-brand" href="/">
    <img src="/images/image.png" class="logo">
  </a> 
  <div class="btn-wrapper d-lg-none ml-auto mr-3">
    <a class="btn btn-outline-primary btn-sm btn-style" href="/signin"><i class="fas fa-user"></i> Sign in</a>
    <a class="btn btn-outline-primary btn-sm btn-style" href="/signup"><i class="fas fa-user-plus"></i> Sign up</a>
  </div>
  <div class="a-wrap d-none d-lg-block">
    <div class="nav-item-wrapper mr-3">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="px-3 btn-primary btn btn-transparent-nav" href="/home">Home<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="px-3 btn-primary btn btn-transparent-nav" href="/about">About Us<span class="sr-only"></span></a>
        </li>
        <li class="nav-item"><a class="px-3 btn-primary btn btn-transparent-nav" href="/contact">Contact Us</a></li>
        <li class="nav-item"><a class="px-3 btn-primary btn btn-transparent-nav" href="/image">Image Gallary</a></li>
        <li class="nav-item">
          <a class="btn btn-outline-primary btn-sm btn-style" href="/signin"><i class="fas fa-user"></i> Sign in</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary btn-sm btn-style" href="/signup"><i class="fas fa-user-plus"></i> Sign up</a>
        </li> 
      </ul>
    </div>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto p-1">
      <a class="btn-primary btn btn-transparent-nav d-lg-none" href="/home">Home<span class="sr-only"></span></a>
      <a class="btn-primary btn btn-transparent-nav d-lg-none" href="/about">About Us<span class="sr-only"></span></a>
      <a class="btn-primary btn btn-transparent-nav d-lg-none" href="/contact">Contact Us</a>
      <a class="btn-primary btn btn-transparent-nav d-lg-none" href="/image">Image Gallary</a>
    </ul>
  </div>
</div>
</nav>

<div class="container" style=" margin-top: 100px">
  
  <h1 class="text-center">Privacy Policy</h1>
  <hr>
  <p>Chandan Tutorials is committed to respecting the privacy of users who access chandantutorials.org (the “Site”). This Privacy Policy will tell you (1) what information is collected when you visit our site or send us an email, and (2) how that information is used.</p>
  <div class="container">
    <h3>Web server logs</h3>
    <p>When you visit the Site, our web server may record the following information in its server log:</p>
    <ul>
      <li>your IP Address</li>
      <li>your username (if you have logged in as a registered user)</li>
      <li>the URLs you have requested to access</li>
      <li>the status code of your requests</li>
      <li>the dates and methods of requests</li>
    </ul>
    <p>Web server logs are retained on a temporary basis, during which time their contents are accessible to Site administrators, and then deleted completely from our systems. Unless required by legal process, we do not link IP addresses to any personally identifiable information. This means that user sessions will be tracked by IP address, but a user’s identity will remain anonymous.</p>
    <h3>User Registration</h3>
    <p>Chandan Tutorial has adopted a user registration option for visitors who want to post content to the Site or access registration-only pages. To obtain a user registration, you must submit your first name, last name, and email address to our site, along with a username and password that you create for user authentication purposes. At your option you may submit a photo as well, but a photo is not required for registration purposes. The Site will include a profile page that will include your first name, last name, username, and, if applicable, your photo. The Site will publish your first and last name alongside any content that you post.</p>
    <h3>Cookies</h3>
    <p>Cookies are unique bits of computer data that many major websites will transfer to your computer the first time that you visit. Cookies are stored on your hard drive and may be later accessed by the website to track prior usage. As noted above, Google Analytics will install a cookie on the hard drives of Site visitors</p>
    <h3>Disclosure to Third Parties</h3>
    <p>We will not sell, lend, or disclose to third parties any information collected from visitors, except as disclosed in this Privacy Policy or in the event we are required by law to do so. We may disclose information to employees, consultants and agents who have a legitimate need to know the information for the purpose of fixing or improving the Site and monitoring and improving the security of our network. We also reserve the right to disclose this information when special circumstances call for it, such as when disclosure is required by law or court order or when disclosure is, in our sole discretion, necessary to protect our legal rights, including intellectual property rights.</p>
    <h3>Data security</h3>
    <p>We have in place physical, electronic and managerial procedures to protect the information we collect online. However, as effective as these measures are, no security system is impenetrable. We cannot completely guarantee the security of our database, nor can we guarantee that the information you supply will not be intercepted while being transmitted to us over the Internet.</p>
    <h3>Effective Date</h3>
    <p>This Privacy Policy is in effect as of August 14, 2020.</p>
  </div>
</div>



<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-3 col-sm-6 ">      
        <div class="footer-pad">
          <h4><a href = "/terms">Terms And Conditions</a></h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">      
        <div class="footer-pad">
          <h4><a href = "/privacy">Privacy Policy</a></h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">    
        <div class="footer-pad">
          <h4><a href = "/faq">FAQs</a></h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">    
        <div class="footer-pad">
          <h4><a href = "/contact">Contact Us</a></h4>
        </div>
      </div>     
    </div>
    <hr>
    <div class="container">
      <div class="col-md-12 col-sm-4">
        <h4 class="text-center">Follow Us</h4>
            <div class="container text-center">
              <ul class="social-network social-circle">
             <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
             <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#" class="iconTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" class="iconInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
            </ul>     
        </div>  
    </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12 sm">
        <p class="text-center">Designed and built with love by<a href="/team" class="sm">Our team</a></p>
      </div>
    </div>
  <div class="row">
    <div class="col-md-12 copy">
      <p class="text-center">&copy; 2020 ChandanTutorials™ | India</p>
    </div>
  </div>
  </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>